@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");
@font-face {
  font-family: "Gilroy";
  font-weight: 400;
  src: url("../../fonts/Gilroy-Regular.woff");
}
@font-face {
  font-family: "Gilroy";
  font-weight: 700;
  src: url("../../fonts/Gilroy-Bold.woff");
}
@font-face {
  font-family: "Gilroy";
  font-weight: 600;
  src: url("../../fonts/Gilroy-SemiBold.woff");
}
@font-face {
  font-family: "Gilroy";
  font-weight: 300;
  src: url("../../fonts/Gilroy-Light.woff");
}
@font-face {
  font-family: "Gilroy";
  font-weight: 200;
  src: url("../../fonts/Gilroy-Thin.woff");
}
/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  /*outline: none;*/
}

a:focus,
a:active {
  /* outline: none;*/
}

/* Links */
a, a:link, a:visited {
  /* color: inherit; */
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

@font-face {
  font-family: "Gilroy";
  font-weight: 400;
  src: url("../../fonts/Gilroy-Regular.woff");
}
@font-face {
  font-family: "Gilroy";
  font-weight: 700;
  src: url("../../fonts/Gilroy-Bold.woff");
}
@font-face {
  font-family: "Gilroy";
  font-weight: 600;
  src: url("../../fonts/Gilroy-SemiBold.woff");
}
@font-face {
  font-family: "Gilroy";
  font-weight: 300;
  src: url("../../fonts/Gilroy-Light.woff");
}
@font-face {
  font-family: "Gilroy";
  font-weight: 200;
  src: url("../../fonts/Gilroy-Thin.woff");
}
.header {
  padding: 44px 195px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0;
  background-color: #FFF9EF;
}
.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 114px;
}
.header-container2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 23px;
}
.header__btn {
  font-family: "Gilroy";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #008542;
  padding: 10px 55px 10px 55px;
  color: #008542;
}